/* kleuren blauwig: #0B8CA7 oranjeroodig: #A7250B */
body{
    background-color:#0B8CA7;
    height: 100vh;
    margin:0;
    display: flex;
    flex-direction: column;
}

#main-container{
    background-color: #0B8CA7;
    color:#054450;
    margin-top: 60px;
    padding: 0 10%;
}

.car{
    border-radius: 5%;
    margin-top: 60px;
}

.img-grid{
    width: 100%;
    height:100%;
    border: 1px solid #A7250B;
}
.img-story{
    margin-bottom:20px;
}
.welkomtitel{
    padding-top: 20px;
}

.navcustom{
    background-color: #A7250B;   
    color: #054450;
}

.formulier{
    margin-top: 60px;
}

footer{
    margin-top: auto;
    background-color: #A7250B;
    color:#FDE5E1;
    font-size: large;
    text-align: center; 
}
#foto-credit{
    font-size: xx-small;
}

.kaart-lichaam{
    background-color:#054450;
    color:#0B8CA7;
}

#werkervaring{
    width: 100%;
    background-color: #054450;
    color:#0B8CA7;
    border:1px solid #FCD9D2;
    font-size: xx-small;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}
.table-container{
    /*deze nog nodig voor iets?*/
}