/* kleuren blauwig: #0B8CA7 oranjeroodig: #A7250B */
body{
    padding-top: 50px;
    background-color:#0B8CA7;
}

#main-container{
    background-color: #0B8CA7;
    color:#054450;
    padding: 10%;
}

.car{
    border-radius: 5%;
    height: 100%;
}

.img_grid{
    width: 100%;
    height:100%;
    border-radius: 5%;
}
.welkomtitel{
    padding-top: 20px;;
}

.navcustom{
    background-color: #A7250B;   
    color: #F79783;
}