/* kleuren blauwig: #0B8CA7 oranjeroodig: #A7250B */
/*font-family: 'Amatic SC', cursive;
font-family: 'Josefin Sans', sans-serif;*/
/*terugkerende styles*/
body{
    background-color:#0B8CA7;
    height: 100vh;
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
.navcustom{
    background-color: #A7250B;   
    color: #054450;
}
footer{
    margin-top: auto;
    background-color: #A7250B;
    color:#FDE5E1;
    font-size: large;
    text-align: center; 
}
#main-container{
    background-color: #0B8CA7;
    color:#054450;
    margin-top: 60px;
    padding: 0 10%;
}
#foto-credit{
    font-size: xx-small;
}
/*index*/
.car{
    border-radius: 5%;
    margin-top: 60px;
}
.img-grid{
    width: 100%;
    height:100%;
    border: 1px solid #A7250B;
}
.img-story{
    margin-bottom:20px;
}
.welkomtitel{
    padding-top: 20px;
}
.kaart-lichaam{
    background-color:#054450;
    color:#0B8CA7;
}

/*overmij*/
.over-mij-foto{
    display: flex;
    margin-right: auto;
    margin-left:auto;
    border: 2px solid #054450;
}

.container-info{
    border: 3px solid #054450;
    background-color: #0B9CB8;
    text-align: center;
}

#werkervaring{
    width: 100%;
    background-color: #0B9CB8;
    color:#054450;
    border:1px solid #FCD9D2;
    font-size: xx-small;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    margin-top: 50px;
}
.tablehead, .tabledata{
    border: 2px solid #054450;
}
.tablehead{
    background-color: #A7250B;
    
}
@media screen and (min-width: 768px){
    #werkervaring{
        font-size: large;
    }
    .container-info{
        font-size: xx-large;
    }
}

/*Contact*/
input[type=text], input[type=email], input[type=tel], textarea{
    display: block;
    margin: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}
textarea{
    width: 100%;
    height: 200px;
}
table, td, tr{
    border: none;
}
.formulierwrapper{
    margin: 7em auto;
    border: 2px solid #054450;
    padding: 10%;
    font-size: small;
}

.form-submit-btn{
    background-color: #A7250B;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
    font-size: x-large;
    margin: auto;
    border-radius: 5px;
    border-style: groove;
    font-weight:700;
}
.form-submit-btn:hover{
    background-color: #6C1807;
}

